<a href="https://colab.research.google.com/github/joncar18/BTE320/blob/main/L_sort%20%26%20Dictionary(Updated).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [5,2,7,0,1,3]
L.sort()
L

[0, 1, 2, 3, 5, 7]

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)
l1

[3, 4]

In [ ]:
t = (1, 'two', 3.0)
len(t)

3

In [ ]:
t + t[:2]

(1, 'two', 3.0, 1, 'two')

tuples are immutable objects

In [ ]:
grades = {
    'Alice': 90,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 89
}

In [ ]:
grades['Bob']

88

In [ ]:
grades['Abby'] = 99
grades

{'Alice': 90, 'Bob': 88, 'Tracy': 93, 'Erik': 89, 'Abby': 99}

dictionaries are mutable
they don't have an order
accessing values happens through the keys format:

d[k] = v


keys are unique and immutable

delete using format:

del d[k]

In [6]:
grades = {
    'Alice': 90,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 89
}

In [7]:
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [9]:
for value in grades.values():
  print(value)

90
88
93
89

In [10]:
for key, value in grades.items():
  print(key, value)

Alice 90
Bob 88
Tracy 93
Erik 89

In [14]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [28]:
months = {}

n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

for num in n:
  months[num] = names[num - 1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}