<a href="https://colab.research.google.com/github/joncar18/BTE320/blob/main/L_sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
L = [5,2,7,0,1,3]
L.sort()
L

[0, 1, 2, 3, 5, 7]

In [4]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)
l1

[3, 4]

In [5]:
t = (1, 'two', 3.0)
len(t)

3

In [6]:
t + t[:2]

(1, 'two', 3.0, 1, 'two')

tuples are immutable objects

In [8]:
grades = {
    'Alice': 90,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 89
}

In [9]:
grades['Bob']

88

In [12]:
grades['Abby'] = 99
grades

{'Alice': 90, 'Bob': 88, 'Tracy': 93, 'Erik': 89, 'Abby': 99}

dictionaries are mutable
they don't have an order
accessing values happens through the keys format:

d[k] = v


keys are unique and immutable

delete using format:

del d[k]